<!doctype html>
<html lang="en" dir="ltr" class=" fonts-loaded-ltr" style="--vw: 14.4px;">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>copyright-bar (desktop) – OLX live component</title>
<link id="googleidentityservice" type="text/css" media="all" href="https://accounts.google.com/gsi/style" rel="stylesheet">
<link rel="stylesheet" href="../_css/home-desktop.css">
</head>
<body >
<div style="width:1440px"><div class="_31a7ce0c f55e23e5" style="display:block;position:static;width:auto;height:auto;min-height:0;max-width:none;margin:0;padding:0;border:0;transform:none;overflow:visible;box-shadow:none;"><div class="_948d9e0a _95d4067f _1e086faf _4122130d" style="display:block;position:static;width:auto;height:auto;min-height:0;max-width:none;margin:0;padding:0;border:0;transform:none;overflow:visible;box-shadow:none;"><div class="_1f62c724" style="display:block;position:static;width:auto;height:auto;min-height:0;max-width:none;margin:0;padding:0;border:0;transform:none;overflow:visible;box-shadow:none;"><div class="f9c212f8"><div class="a29e4ea1"><div class="_26fd7490"><span>Classifieds in Pakistan.</span>© 2006 – 2026 OLX</div></div></div></div></div></div></div>
</body>
</html>
